[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {path = "/home/thiago/Downloads/Django-2.2.5"}

[dev-packages]
"autopep8" = "*"
pylint = "*"

[requires]
python_version = "3.7"
